* {
    font-family: 'Open Sans', sans-serif;
}

.glider-contain {
    margin-bottom: 50px;
    max-width: 70%;
}

.glider__slides {
    border: 2px solid #a89cc8;

}

.glider__slide {
    align-items: center;
    color: #a89cc8;
    display: flex;
    font-size: 200%;
    justify-content: center;
    padding: 50px;
}

:not(:first-child) {
    border-left: 1px solid #a89cc8;
}